<mat-toolbar class="navbar-position">
  <span style="color: rgb(74, 123, 79); font-weight: bolder; font-size: larger;">MyBudget</span>
  <span class="nav-spacer"></span>
  <a mat-button [routerLink]="'/api/accounts'" class="navbar-btn" style="color: rgb(74, 123, 79);">Accounts</a> 
  <a mat-button [routerLink]="'/api/transactions'" class="navbar-btn" style="color: rgb(74, 123, 79);">Transactions</a>
  <a mat-button [routerLink]="'/api/settings'" class="navbar-btn" style="color: rgb(74, 123, 79);">Settings</a>
</mat-toolbar>