.account-full-width {
    width: 100%;
}

.account-form {
    min-width: 150px;
    max-width: 100%;
    width: 95%;
    margin: auto;
}
    
/* .account-form .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
} */

.form-buttons {
    justify-content: right;
    margin-right: 5%;
    margin-bottom: 5%;
}
    