<form #addAccountForm="ngForm" class="account-form" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>New Account</h1>
  <div>
    <div mat-dialog-content>
      <mat-form-field class="account-full-width">
        <mat-label>Name</mat-label>
        <input matInput name="name" [(ngModel)]="account.name" required>
      </mat-form-field>

      <!-- <mat-form-field class="account-full-width">
        <mat-label>Currency</mat-label>
        <input matInput name="currency" ngModel required>
      </mat-form-field> -->

      <mat-form-field class="account-full-width">
        <mat-label>Currency</mat-label>
        <mat-select name="currency" [(ngModel)]="account.currency" required>
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{ currency | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="account-full-width">
        <mat-label>Balance</mat-label>
        <input matInput type="number" name="balance" [(ngModel)]="account.balance" required>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="form-buttons">
      <button mat-raised-button
              type="button"
              (click)="onCancel()"
              style="background-color: rgb(197, 68, 68); color: whitesmoke;">
              Cancel
      </button>
      <button mat-raised-button
              type="submit"
              style="background-color: rgb(115, 198, 124);  color: whitesmoke;">Create Account</button>
    </div>
  </div>
</form>